.wallpaper {
    background-image: url(/images/piggy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-wallpaper{
    background: var(--background);
    
}

@media(max-width: 768px){
    body{
        background-size: contain;
    }
}

@media(min-width: 300px){
    button{
        background-color: var(--secondary-color);
    }
}

:root{
    --primary-color: rgb(248, 130, 149);
    --secondary-color: rgb(29, 173, 29);
    --box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    --background: rgb(252, 221, 195);
}
    

h1{

    color: var(--primary-color);
}

.main-form {
    margin-top: 100px;
}

.second-form{
    margin-top: 50px;
}

.form-control{
    box-shadow: var(--box-shadow);
  
}

.form-label{
    color: var(--primary-color);
    font-weight: 700;
}

label{
    color: var(--primary-color);
    font-weight: 700;
}

.sign-in{
    box-shadow: var(--box-shadow);
}

.underline-input {
    background-color: var(--background);
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    
}

.log-button{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border:none;
    box-shadow: var(--box-shadow);
}

#display-amount{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    color: var(--secondary-color);
}