body {
    background-image: url(/images/piggy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 768px){
    body{
        background-size: contain;
    }
}

:root{
    --border-color: green;
    --primary-color: rgb(248, 130, 149);
    --box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

form {
    margin-top: 100px;
}

.form-control{
    box-shadow: var(--box-shadow);
  
}

.form-label{
    color: var(--primary-color);
}

.sign-in{
    box-shadow: var(--box-shadow);
}